body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #121212;
}

/* For regular text */
body, label, button, input {
  color: #ffffff; 
  font-family: 'Roboto', sans-serif;
}

/* For input fields */
input {
  background-color: #333; 
  color: #ffffff; 
}

/* For placeholder text inside inputs */
::placeholder { 
  color: #bbb; 
  opacity: 1;
}

:-ms-input-placeholder {
  color: #bbb;
}

::-ms-input-placeholder {
  color: #bbb;
}


/* Style the box that will contain the counter */
.counter-box {
  padding: 20px;
  border-radius: 10px;
  background-color: #1e1e1e;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.counter {
  color: #e0e0e0; 
  font-size: 2rem; 
  margin-bottom: 20px; 
}

/* Rest of your styles */

.scoreboard, .game-controls, .player-input-form {
  background-color: #b62e8f; 
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
}

button {
  background-color: #6200ee; 
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #3700b3;
}
@keyframes highlight {
  from { background-color: #6200ee; }
  to { background-color: transparent; }
}

.player-score.updated {
  animation: highlight 1s ease-out;
}
